* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #1f2937;
    height: 500px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 430px;
    margin-bottom: 70px;
}

h1 {
    font-size: 20px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.holder {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

img {
    padding: 125px 175px; 
    background-color: grey;
    text-align: center;
    display: flex;
    max-width: 100%;
    height: auto;
}


.sometext {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 50px;
}

h2 {
    color: white;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

p {
    color: white;
    padding-bottom: 10px;
}

button {
    padding: 8px 25px;
    font-size: 14px;
    border-radius: 6px;
    border-color: white;
    border: solid 1px black;
    background-color: #3882f6;
    color: white;
}